<mat-card>
    <mat-card-content>
        <h2>Register</h2>
        <mat-error> {{warning}}</mat-error><br />
        <form>
            <mat-form-field class="full-width-input">
                <input [(ngModel)] ="registerUser.userName" matInput placeholder="User Name" name="username" required autofocus>
            </mat-form-field>
            <br />
            <mat-form-field class="full-width-input">
                <input [(ngModel)] ="registerUser.password" matInput type="password" placeholder="Password" name="password" required>
            </mat-form-field>
            <br />
            <mat-form-field class="full-width-input">
                <input [(ngModel)] ="registerUser.password2" matInput type="password" placeholder="Password" name="password2" required>
            </mat-form-field>
            <br />
            <button  (click)="onSubmit()" mat-raised-button color="primary" type="submit"   *ngIf="!success && !loading;">
                <mat-icon>account_box</mat-icon>
                <span>&nbsp;&nbsp;&nbsp;Register</span>
            </button>
              <button  (click)="onSubmit()" mat-raised-button color="primary" type="submit" disabled *ngIf="success || loading;">
                <mat-icon>account_box</mat-icon>
                <span>&nbsp;&nbsp;&nbsp;Register</span>
            </button>
        </form>
    </mat-card-content>
    <div class="success" *ngIf="success">Registration Successful. Proceed to<br /><br /> 
        <a mat-raised-button color="accent"  routerLink="/login" >
            <mat-icon>login</mat-icon>&nbsp;&nbsp;&nbsp;Login
        </a> 
    </div>
</mat-card>